<%-include('../partials/header.ejs')%>
<%-include('../partials/main_nav.ejs')%>
<!--Main nav Navigation-->
  
<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h3>Surveys</h3>
      <a href="/surveys/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add a survey</a>
      <br>
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>Title</th>
              <th class="text-center">Description</th>
              <th class="text-center"></th>
              <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <!-- Template Row -->
             <!-- Template Row -->
             <% for (let count = 0; count < surveys.length; count++) { %>
              <tr>
                <td><%= surveys[count].title %></td>
                <td class="text-center"><%= surveys[count].description %></td>
                <td class="text-center">
                  <a href="/surveys/edit/<%=surveys[count]._id%>" class="btn btn-primary"><i class="fas fa-pencil-alt"></i>Edit</a></td>
                </td>
                <td class="text-center">
                  <a href="/surveys/<%=surveys[count]._id%>/delete" class="btn btn-danger"><i class="fas fa-trash-alt"></i>Delete</a>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
       <div class="col-md-offset-1 col-md-10 text-center">
        <ul class="pagination pagination-lg pager" id="myPager"></ul>
      </div>
    </div>
  </div>
</div>


<!--Script section-->
<%-include('../partials/footer.ejs')%>
